@charset "UTF-8";
.weather-box{
	
	display: flex;
	justify-content: center;
}


.weather {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 237, 237, 0.438);
    color: rgb(105, 104, 104);
}

.weather-container {
    width: fit-content;
}

.card {
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem;
    border-radius: 1.5rem;
    border-color: rgba(238, 237, 237, 0.438);
    box-shadow: 5px 8px 10px #80808033;
}

@media(max-width:767px) {
    .card {
        height: 8rem;
        padding: 1.5rem 1.5rem 1rem 1.5rem
    }
}

.carousel-indicators li {
    width: 5px;
    height: 6px;
    border-radius: 100%;
    opacity: 0.2;
    background-color: #000000
}

.carousel-indicators {
    margin-bottom: 0
}

.temp {
    font-size: 5rem;
    color: rgb(57, 57, 58)
}

.card-1 {
    background: #e1e1e1;
}

@media(max-width:767px) {
    .temp {
        font-size: 3rem
    }
}

.location {
    margin-bottom: 1.5rem
}

@media(max-width:767px) {
    .location {
        font-size: 0.75rem
    }
}

.img-fluid {
    float: right;
    width: 65%;
    display: flex;
    align-items: center
}

.row2 .img-fluid {
    margin: 10% 0;
    opacity: 0.5;
    width: 70%
}

.card-2 .row {
    justify-content: center
}

.card-3 .row {
    justify-content: center
}
.card-3{
	background: #F5F5F5;
}

.row1 {
    font-size: 1rem;
    font-weight: 500;
    color: black
}

.row3 {
    font-size: 1.2rem;
    font-weight: 700;
    color : #3B4148;
    
}

@media(max-width:400px) {
    .row3 {
        font-size: 0.7rem;
        font-weight: bold;
        color: black
    }
}

@media(max-width:320px) {
    .row3 {
        font-size: 0.6rem;
        font-weight: bold;
        color: black
    }
}

.row4 {
    font-size: 0.6rem;
    color: rgb(196, 196, 196);
    margin: 5% 0 2.5rem
}

.card-3 .row3 {
    margin: 5% 0 2.5rem
}

.col {
    overflow: visible
}

.row {
    overflow: visible
}
.temp{
	width : 400px;
}