@charset "UTF-8";
.camp-img{
	width: 300px;
    float: left;
   height: 200px;
    border-radius: 1.5rem;
}

.camp-img-box{
	width: 100%;
	height: 220px;
	border-bottom: 2px solid #EBEBEB;
	
}


.like-camp-info{

    margin-top: 2rem;
    margin-left: 22.2rem;
    /* height: 33rem; */
    padding-top: 2.3rem;
}

.like-info-content{
    margin-bottom: 8px;
}

.like-info-campnm {
	margin-top: 1rem;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}