@charset "UTF-8";
#footer{
    background:#111;
    height:auto;
    width:100vw;
    padding-top:30px;
    color:#FFF;
}
#footer .t-footer-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.t-footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.t-footer-content p{
    max-width: 500px;
    
    margin : 10px auto;
    line-height: 28px;
    font-size:14px;
}
.t-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1rem 0 2rem 0;
}
.t-socials li{
    margin: 0 10px;
}
.t-socials a{
    color:#fff;
}
.t-socials a i{
    font-size:1.3rem;
    transition: color .4s ease;
}
.t-socials a:hover i{
    color :#8CE8EB;
}

.t-footer-bottom{
    background : #000;
    width:100vw;
    padding:20px 0;
    text-align: center;
}
.t-footer-bottom p{
    font-size:14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.t-footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;;
}